.layout {
  display: flex;
}

.content {
  padding: 40px 60px;
  width: 100%;
}

.avatar {
  filter: drop-shadow(0px 8px 40px rgba(255, 197, 41, 0.25));
}
.menu {
  height: 100vh;
  width: 240px;
  display: flex;
  flex-direction: column;
  border-right: 1px #d4d6e0 solid;
}

.wrapper {
  width: 240px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.name {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  word-wrap: break-word;
  margin-top: 7px;
}

.email {
  color: var(--text-secondary-color);
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
}

.exit-button {
  width: 117px;
  height: 43px;
  display: flex;
  margin-bottom: 30px;
  gap: 9px;
  justify-content: center;
}

.user {
  margin-top: 21px;
}

.links {
  margin-top: 47px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  gap: 35px;
}

.link {
  display: flex;
  gap: 14px;
  color: var(--text-color);
}

.link:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
}

.cart-number {
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
