.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}

.cardlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-row-gap: 34px;
  grid-column-gap: 45px;
}
